[Unit]
Description=BPI Control Center API
After=network.target

[Service]
EnvironmentFile=-/etc/bpi-controlcenter.env
WorkingDirectory=/opt/bpi-controlcenter
ExecStart=/usr/bin/node --experimental-specifier-resolution=node /opt/bpi-controlcenter/dist/server/src/index.js
Restart=on-failure
User=nov
Group=nov
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
